@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  :root {
    --main-background: var(--gray-background);
    --gray-background: 234 234 234;
    --white-background: 255 255 255;
    --dark-background: 0 0 0;

    --accent-black: 16 16 16;
    --accent-blue: 28 28 39;
    --accent-orange: 255 165 66;
    --accent-gray: 131 131 131;

    --whatsapp-icon: 0 168 89;
    --vk-icon: 39 135 245;
    --telegram-icon: 17 170 222;

    --light-gray: 170 170 170;
    --light-orange: 255 206 127;
  }
}

.scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #0a0909;
  width: 8px;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  /* height: 20px; */
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(123, 119, 119, 0.12);
  border-radius: 10px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--main-background));
}

input {
  padding: 0;
  margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none !important;
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}
img {
  width: auto;
  height: auto;
}
button {
  /* border: none; */
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 0;
  display: flex;
}
picture {
  font-size: 0;
}
textarea:focus,
input:focus {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #0000 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
video {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
